html {
  height: 100%;
  -webkit-touch-callout: none;
  user-select: none;
}
body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-family: 'Josefin Sans', 'Consolas';
}

@keyframes bubble {
  from {
    color: #888;
  }
  to {
    color: transparent;
    transform: translateY(-30px);
  }
}

.bubble {
  animation: bubble 1s ease;
}

@keyframes self-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
