
.pager,
.pager-content,
.pager .pager-content .page {
  width: 100%;
  height: 100%;
}

.pager {
  overflow: hidden;
}

.pager .pager-content {
  transition: transform 1s ease;
}

.pager.active-page-1 .pager-content {
  transform: translateY(0);
}
.pager.active-page-2 .pager-content {
  transform: translateY(-100%);
}
.pager.active-page-3 .pager-content {
  transform: translateY(-200%);
}

.badge-box {
  position: fixed;
  right: 10px;
  top: 45%;
  z-index: 1000;
  text-shadow: 0 0 0 #262626;
  color: transparent;
  transition: text-shadow 1s;
}

.pager.active-page-2 .badge-box {
  text-shadow: 0 0 0 white;
}

.badge-box .badge:hover {
  cursor: pointer;
  color: #FFF;
}

.pager.active-page-1 .badge-box .badge-1,
.pager.active-page-2 .badge-box .badge-2,
.pager.active-page-3 .badge-box .badge-3 {
  color: #FFF;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
